.tooltip-base-box {
  width: 600px;
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .center {
    justify-content: center;
  }
  .box-item {
    width: 110px;
    margin-top: 10px;
  }
}
